{% extends "layouts/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm">
            <h2>Schemas for the tables</h2>
            <i>All attributes are floating point or double unless otherwise noted.</i>
            <p>
                <h3>Schema for "objects" table</h3>
                <table class="table">
                    {% for row in schemas.objects %}
                        <tr><td>{{ row.name }}</td><td>{{ row.doc }}</td><td><i>{{ row.type }}</i></td></tr>
                    {% endfor %}
                </table>

                <p>
                    <h3>Schema for "sherlock_classifications" table</h3>
                    (for more information see <a href=/sherlock>Sherlock documentation</a>)
                    <table class="table">
                        {% for row in schemas.sherlock_classifications %}
                            <tr><td>{{ row.name }}</td><td>{{ row.doc }}</td><td><i>{{ row.type }}</i></td></tr>
                        {% endfor %}
                    </table>


                    <h3>Schema for "crossmatch_tns" table</h3>
                    <table class="table">
                        {% for row in schemas.crossmatch_tns %}
                            <tr><td>{{ row.name }}</td><td>{{ row.doc }}</td><td><i>{{ row.type }}</i></td></tr>
                        {% endfor %}
                    </table>

                    <h3>Schema for "annotations" table</h3>
                    <table class="table">
                        {% for row in schemas.annotations %}
                            <tr><td>{{ row.name }}</td><td>{{ row.doc }}</td><td><i>{{ row.type }}</i></td></tr>
                        {% endfor %}
                    </table>
                    <p>

                    </div>
                </div>
{% endblock %}
