{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}


{% block title %}
    Watchmap: {{watchmap.name}}
{% endblock title %}


{% block content %}

    <div class="container">

        <div class="row mt-4">

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_watchmap_header.html" %}
            </div>

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_objectlist_table.html" with zerotext="Zero objects have been matched against this watchmap so far." table=table header="Watchmap Results"  desc="A list of objects located within the '"|add:watchmap.name|add:"' watchmap" %}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        {% if form.errors %}
            $(document).ready(function(){
                $("#editWatchmapForm").modal('show');
            });
        {% endif %}
    </script>
{% endblock javascripts %}
