{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

    <div class="container">

        <div class="row mt-4">

            <div class="col-12  mb-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-start">
                            <div class="col-4 col-xl-1 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-start">
                                <div class="icon-shape icon-shape-primary rounded me-1 me-sm-0">

                                    <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"></path></svg>
                                </div>
                            </div>
                            <div class="col-12 col-xl-10 px-xl-0">
                                <div class="d-block">

                                    <h3 class="fw-extrabold mb-2">Region Watchlists</h3>
                                </div>
                                <small class="text-gray-500">
                                    A region watchlist is based on a region file (MOC format) which defines a specific portion of the sky. Each transient falling within that region of the sky is flagged as <em>matched</em> against that region watchlist.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% if user.is_authenticated %}
            <div class="col-12 mb-4">
                {% include "includes/widget_watchlist_region_table.html" with type="my" position="auto" %}
            </div>
        {% endif %}

        <div class="col-12 mb-4">
            {% include "includes/widget_watchlist_region_table.html" with type="public" position="auto" %}
        </div>



    </div>



{% endblock %}
