{% extends "layouts/base.html" %}
{% block content %}


    <div class="container">

        <div class="row mt-4">

            <div class="col-12 mb-4">
                {% include "includes/widget_watchlist_region_header.html" %}
            </div>

            <div class="col-12 mb-4">
                {% include "includes/widget_watchlist_region_object_table.html" %}
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm">

            {% if is_owner %}

                <form method="POST"  action="/area/{{ region.ar_id }}/">
                    <table>
                        {% csrf_token %}
                        <tr><td>Name</td><td><h2><input name="name" value="{{ region.name }}"></h2></td></tr>
                        <tr><td>Description</td><td><textarea name="description" rows=4 cols=40>{{ region.description }}</textarea></td></tr>
                        <tr><td>Active</td><td><h3><input type="checkbox" name="active" {% if region.active == 1 %}checked{% endif %}></h3></td></tr>
                        <tr><td>Public</td><td><h3><input type="checkbox" name="public" {% if region.public == 1 %}checked{% endif %}></h3></td></tr>
                    </table>

                    <input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value=" Update region"></td>
                </form>

            {% else %}

                <table border=1>
                    <tr><td>Name</td><td><h2>{{ region.name }}</h2></td></tr>
                    <tr><td>Description</td><td>{{ region.description }}</td></tr>
                    <tr><td>Active</td><td>{% if region.active == 1 %}yes{% else %}no{% endif %}</td></tr>
                    <tr><td>Public</td><td>{% if region.public == 1 %}yes{% else %}no{% endif %}</td></tr>
                </table>

            {% endif %}

            <img src="data:image/png;base64,{{ mocimage }}" width=500 /><br/>


            Region has {{ count }} objects, shown below..
            To download the original input MOC file, click <a href=/area/{{ region.ar_id }}/file/>here</a>.
        <hr/>
        {{ message }}
        <hr/>

        <table border=1>
            <tr><th> ObjectId</th></tr>
            {% for objId in objIds %}
                <tr> <td><a href=/object/{{ objId }}/>{{ objId }}</a></td> </tr>
            {% endfor %}
        </table>
    </div>
    </div>

{% endblock %}
