{% extends "layouts/base.html" %}
{% block title %} Home {% endblock %}
{% load static %}
{% block content %}

<script src="https://ofrohn.github.io/lib/d3.min.js"></script>
<script src="https://ofrohn.github.io/lib/d3.geo.projection.min.js"></script>
<script src="https://ofrohn.github.io/celestial.min.js"></script>
<link rel="stylesheet" href="https://ofrohn.github.io/celestial.css">

<div class="container">
  <span id="utc"> </span><br>
  <span id="mjd">&nbsp;</span></b>

<!--{{ message }}-->

        <div class="row mt-4">
            <div class="col-12  mb-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex">
                            <div class="col-11  px-xl-1">
                                <div class="d-flex flex-row ms-2">
                                    <div class="flex-shrink-1">
                                        <h2 class="h3 fw-extrabold mb-0">News</h2>
                                        <small class="text-gray-500">
						{{ news }}
                                        </small>
                                    </div>
				</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow:hidden;margin:0 auto;">
          <div id="celestial-map">
          </div>
        </div>

</div>

<script type="text/javascript">


var alerts = {
  "type": "FeatureCollection",
  "features": [
{% for alert in alerts %}
    {
      "type": "Feature",
      "size": {{ alert.size }},
      "color": {{ alert.color }},
      "age": {{ alert.age }},
      "geometry": {
        "type": "Point",
        "coordinates": [
		{{ alert.coordinates.0 }},
		{{ alert.coordinates.1 }}
        ]
      }
    },
{% endfor %}
]};





// Some prettifying styles
var config = {
//  container: "celestial-map", 
  projection: "aitoff",
  transform: "equatorial",
  background: { fill: "#000", stroke: "#000", opacity: 0.9, width: 1 },
  datapath: "https://ofrohn.github.io/data/",
  stars: {
    colors: false,
    names: false,
    style: { fill: "#aaa", opacity:1 },
    limit: 4,
    size: 5
  },
  constellations: {
    names: false,      // Show constellation names 
    namesType: "iau", // Type of name Latin (iau, default), 3 letter designation (desig) or other language (see list below)
    nameStyle: { fill:"#cccc99", align: "center", baseline: "middle", 
                 font: ["14px Helvetica, Arial, sans-serif",  // Style for constellations
                        "12px Helvetica, Arial, sans-serif",  // Different fonts for diff.
                        "11px Helvetica, Arial, sans-serif"]},// ranked constellations
    lines: true,   // Show constellation lines, style below
    lineStyle: { stroke: "#cccccc", width: 0.5, opacity: 0.6 }, 
    bounds: false, // Show constellation boundaries, style below
    boundStyle: { stroke: "#cccc00", width: 0.5, opacity: 0.8, dash: [2, 4] }
  },  
  planets: {  //Show planet locations, if date-time is set
    show: true,
    which: ["sol", "lun"],
    symbolType: "disk",
    symbolStyle: { fill: "#00ccff"},
    names: true
  },
  dsos: { show: false, size: 10 },
  mw: {
    style: { fill:"#999", opacity: 0.3 }
  },
  lines: {
    graticule: { show: true, stroke: "#cccccc", width: 0.6, opacity: 0.5,      // Show graticule lines 
    // grid values: "outline", "center", or [lat,...] specific position
    lon: {pos: ["center"], fill: "#eee", font: "14px Helvetica, Arial, sans-serif"}, 
    // grid values: "outline", "center", or [lon,...] specific position
    lat: {pos: ["center"], fill: "#eee", font: "14px Helvetica, Arial, sans-serif"}},
  },
  equatorial: { show: false},
  ecliptic: { show: false},
  galactic: { show: false},
  supergalactic: { show: false}
};

const HSBToRGB = (h, s, b, alpha) => {
  s /= 100;
  b /= 100;
  const k = (n) => (n + h / 60) % 6;
  const f = (n) => b * (1 - s * Math.max(0, Math.min(k(n), 4 - k(n), 1)));
  r = Math.floor(255 * f(5));
  g = Math.floor(255 * f(3));
  b = Math.floor(255 * f(1));
  return "rgba(" + r +","+ g +","+ b +","+ alpha +")";
};


function runCelestial(){
  Celestial.add({
    type:"line",
  
    callback: function(error, json) {
      if (error) return console.warn(error);
      // Load the geoJSON file and transform to correct coordinate system, if necessary
      var asterism = Celestial.getData(alerts, config.transform);
  
      // Add to celestial objects container in d3
      Celestial.container.selectAll(".asterisms")
        .data(asterism.features) .enter() .append("path") .attr("class", "ast");
  
      // Trigger redraw to display changes
      Celestial.redraw();
    },
  
    redraw: function() {
      // Select the added objects by class name as given previously
      Celestial.container.selectAll(".ast").each(function(d) {
      // If point is visible (this doesn't work automatically for points)
        if (Celestial.clip(d.geometry.coordinates)) {
          // get point coordinates
          var pt = Celestial.mapProjection(d.geometry.coordinates);
          // object radius in pixel, could be varable depending on e.g. magnitude
          var r = d.size;
  
          // draw on canvas
          // Set object styles
	  var alpha = 1-d.age;
          rgb = HSBToRGB(60*d.color, 100, 100, alpha);
          //pointStyle = {fill:   "rgba(255, 0, 0, 1.0)"};
          Celestial.setStyle({fill: rgb});
          // Start the drawing path
          Celestial.context.beginPath();
          // Thats a circle in html5 canvas
          Celestial.context.arc(pt[0], pt[1], r, 0, 2 * Math.PI);
          // Finish the drawing path
          Celestial.context.closePath();
          // Draw a line along the path with the prevoiusly set stroke color and line width
          //Celestial.context.stroke();
          // Fill the object path with the prevoiusly set fill color
          Celestial.context.fill();
        }
      });
    }
  });
  
  Celestial.display(config);
}
  
function runTimer() {
  setInterval(function() {
    // Update time and MJD data
    var h = new Date();
    var hst = h + '';
    var u = h.getTime();
    var m = (u / 86400000 + 40587);               // ms since epoch
    var nns = [];
    // loopify this using $sitedata
    nns['01'] = parseInt(m + 0.501 - 10/24);           // MLO
    nns['02'] = parseInt(m + 0.501 - 10/24);           // HKO
    nns['03'] = parseInt(m + 0.501 + 1/24);            // STH
    nns['04'] = parseInt(m + 0.501 - 5/24);            // CHL
    var utc = h.toUTCString();
    document.getElementById("utc").innerHTML = utc;
    document.getElementById("mjd").innerHTML = "MJD " + m.toFixed(5);
  }, 1000)
}

document.addEventListener('DOMContentLoaded', function() {
  runCelestial();
  runTimer();
});
  
    </script>
 Red=possible supernova; Yellow=Cataclysmic Variable; Green=Nuclear transient; Cyan=Active Galaxy.
 Larger means brighter; Ten days of events, darker means older.
  {% endblock %}
