{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

    <div class="container">

        <div class="row mt-4">

            <div class="col-12  mb-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-start">
                            <div class="col-4 col-xl-1 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-start">
                                <div class="icon-shape icon-shape-primary rounded me-1 me-sm-0">

                                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m56.25 75c3.4531 0 6.25 2.7969 6.25 6.25s-2.7969 6.25-6.25 6.25h-12.5c-3.4531 0-6.25-2.7969-6.25-6.25s2.7969-6.25 6.25-6.25zm18.75-31.25c3.4531 0 6.25 2.7969 6.25 6.25s-2.7969 6.25-6.25 6.25h-50c-3.4531 0-6.25-2.7969-6.25-6.25s2.7969-6.25 6.25-6.25zm18.75-31.25c3.4531 0 6.25 2.7969 6.25 6.25s-2.7969 6.25-6.25 6.25h-87.5c-3.4531 0-6.25-2.7969-6.25-6.25s2.7969-6.25 6.25-6.25z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-12 col-xl-10 px-xl-0">
                                <div class="d-block">

                                    <h3 class="fw-extrabold mb-2">Filters</h3>
                                </div>
                                <small class="text-gray-500">
                                    Filters are used to select out subsets of transients of interest to Lasair users. Filters are written as SQL queries, created by users, to  match against past transient events found in the Lasair database and saved filters will dyamically match against future events.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% if user.is_authenticated %}
            <div class="col-12 mb-4">
                {% include "includes/widget_filter_query_table.html" with type="my" position="auto" %}
            </div>
        {% endif %}

        <div class="col-12 mb-4">
            {% include "includes/widget_filter_query_table.html" with type="public" position="auto" %}
        </div>



    </div>



{% endblock %}
