{% load static %}


<div class="card border-0 shadow h-100">



    <div class="card-body">

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-tertiary" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="number of objects detected since filter creation (capped at 10000)">{{count}}</span>

        <div class="row d-block d-xl-flex">

            <div class="col-1 text-xl-center mb-3 mb-xl-0 d-flex justify-content-xl-start">
                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                    {% include "includes/icons/icon_watchlist.html" %}
                </div>
            </div>

            <div class="col-7  px-xl-1">

                <div class="d-flex ms-2">
                    <div class="flex-grow-1">



                        <div class="d-flex align-items-start">
                            {% if watchlist.public %}
                                <span class="icon icon-md me-0 me-sm-0 text-gray-400 " data-bs-toggle="tooltip" data-bs-title="public list">
                                    {% include "includes/icons/icon_padlock_open.html" %}
                                </span>

                            {% else %}
                                <span class="icon icon-md me-0 me-sm-0 text-gray-400" data-bs-toggle="tooltip" data-bs-title="private list">
                                    {% include "includes/icons/icon_padlock_closed.html" %}
                                </span>

                            {% endif %}

                            <div class="h3 fw-extrabold mb-0 ms-2">'{{ watchlist.name }}' Watchlist Associations</div>
                        </div>
                        <small class="text-gray-500">
                            Transient objects located within an association radius of a source in the <em>{{ watchlist.name }}</em> watchlist ({{number_cones}} sources). The default association radius set at <b>{{watchlist.radius}} arcsec</b> and the watchlist is <b>{% if not watchlist.active %}not {% endif %} active</b> {% include "includes/info_tooltip.html" with info="when active, a watchlist will be dynamically matched against new transient alerts. See the watchlist settings to make changes." position="auto" %}.
                        </small>


                    </div>
                </div>
            </div>

            <div class="col-4  px-xl-1">
                <div class="float-end">
                    <div class="d-flex ms-2 ">
                        {# <div class="btn-group" role="group" aria-label="Basic button group"> #}
                        <form  method="post" class="d-flex flex-row align-items-center flex-wrap">
                            {% csrf_token %}
                            <button type="submit" name="action" value="run" class="btn btn-sm btn-tertiary me-1 icon-sm" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="run the filter to give live results">{% include "includes/icons/icon_run.html" %}<span class="align-middle">Refresh</span></button></form>
                        {% if "filter/log/" not in request.path %}

                            {% if user.is_authenticated and watchlist.user.id == user.id %}
                                <span data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="edit the watchlist settings">
                                    <a class="btn btn-sm btn-gray-600 me-1 align-middle " href='#' data-bs-toggle="modal" data-bs-target="#editWatchlistForm">
                                        {% include "includes/icons/icon_edit.html" %}
                                        <span class="align-middle">Settings</span></a>
                                </span>
                            {% endif %}
                        {% else %}

                        {% endif %}


                        {# </div> #}


                        <div class="dropdown ps-1">
                            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                export<svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                                <li><a class="dropdown-item export" data-table="filter-results" href="#" data-type="csv" data-filename="{{watchlist.name}}_watchlist_results">csv</a></li>
                                <li><a class="dropdown-item export" data-table="filter-results" href="#" data-type="json" data-filename="{{watchlist.name}}_watchlist_results">json</a></li>
                                <li><a class="dropdown-item export" href="{% url 'watchlist_download' watchlist.wl_id %}">Original Watchlist File</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>


{% include "includes/widgets/widget_watchlist_update_form.html" %}

