<div class="card border-0 shadow h-100">
    <div class="card-body">
        <div class="row d-block d-xl-flex align-items-start">
            <div class="col-4 col-xl-2 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-start">
                <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                    <img src="{{ ASSETS_ROOT }}/img/icons/tns2.png" class="image-fluid image-xs">
                </div>
            </div>
            <div class="col-12 col-xl-10 px-xl-0">
                <div class="d-block">
                    <h2 class="h6 text-gray-400 mb-0">Transient Name Server{% include "includes/info_tooltip.html" with info="Classification and/or discovery reports frm the IAU Transient Name Server" position="auto" link="https://www.wis-tns.org/" %}</h2>
                    <h3 class="fw-extrabold mb-2">{% if data.TNS.type %}{{ data.TNS.type }} {% endif %}
                        {% if data.TNS.tns_name %}<a href=https://www.wis-tns.org/object/{{ data.TNS.tns_name }}>{{ data.TNS.tns_prefix }}{{ data.TNS.tns_name }}</a></h3>{% endif %}
                    </div>
                    <small class="text-gray-500">
                        {% if data.TNS.tns_name %}
                            The transient was discovered on <b><em>{{ data.TNS.disc_date }}</em></b> (MJD {{ data.TNS.disc_date_mjd|floatformat:2 }}) by {{ data.TNS.source_group }} as {{ data.TNS.disc_int_name }} with a discovery magnitude of <b><em>{% if data.TNS.disc_mag_filter %}{{ data.TNS.disc_mag_filter }} = {% endif %}{{ data.TNS.disc_mag|floatformat:2 }}</em></b>.{% if data.TNS.type %} It was subsequently classified as a <b><em>{{ data.TNS.type }}</em></b>{% if data.TNS.z %} at <b><em>z = {{data.TNS.z|floatformat:3}}</em></b>{% endif %}{% endif %}.{% else %}
                            This transient has probably not been reported to the TNS as yet. <a href="https://wis-tns.org/search?ra={{ data.objectData.ramean }}&decl={{ data.objectData.decmean }}&radius=5&coords_unit=arcsec">Check the TNS directly at this location.</a>
                        {% endif %}

                    </small>

                </div>
            </div>
        </div>
    </div>


