{% load customtags %}
{% load widget_tweaks %}

<div class="card border-0 shadow h-100">
    <div class="card-body">



        <div class="row justify-content-center">

            <div class="col-12 d-flex align-items-center justify-content-center">

                <div class="bg-white border-0 rounded border-light p-4 p-lg-5 w-100">

                    <form enctype="multipart/form-data" method="post" class="mt-0">

                        {% csrf_token %}

                        <div class="form-group mb-4">
                            <label for="name"><h4>SELECT</h4></label>
                            <div id="select_div" class="input-group">
                                <textarea name="selected" class="prism-live language-sql fill prism-live-source" required="" id="id_selected" spellcheck="false"></textarea>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="conditions"><h4>WHERE</h4></label>
                            <div class="input-group">
                                {{ form.conditions|add_class:"form-control" }}
                            </div>
                        </div>

                        <small class="text-danger">{{ form.non_field_errors }}</small>
                        <div class="d-grid">

                            <button type="submit" name="register" class="btn btn-gray-800">Run Filter</button>
                        </div>
                    </form>
                    <br />


                </div>
            </div>
        </div>
    </div>

</div>
