{% load static %}

<div class="card border-0 shadow h-100">
    <div class="card-body">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-tertiary" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="number of objects detected in watchmap">{{count}}</span>
        <div class="row d-block d-xl-flex">
            <div class="col-1 text-xl-center mb-3 mb-xl-0 d-flex justify-content-xl-start">
                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                    {% include "includes/icons/icon_annotator.html" %}
                </div>
            </div>
            <div class="col-10  px-xl-1">
                <div class="d-flex ms-2">
                    <div class="flex-grow-1">
                        <div class="d-flex align-items-start">
                            {% if annotator.public %}
                                <span class="icon icon-md me-0 me-sm-0 text-gray-400 " data-bs-toggle="tooltip" data-bs-title="public list">
                                    {% include "includes/icons/icon_padlock_open.html" %}
                                </span>
                            {% else %}
                                <span class="icon icon-md me-0 me-sm-0 text-gray-400" data-bs-toggle="tooltip" data-bs-title="private list">
                                    {% include "includes/icons/icon_padlock_closed.html" %}
                                </span>
                            {% endif %}

                            <div class="h3 fw-extrabold mb-0 ms-2">'{{ annotator.topic }}' Annotations</div>
                        </div>
                        <div>
                            <small class="text-gray-500"> {{annotator.description|safe}} </small>
                        </div>
                        <small class="text-gray-500">
                            The annotation is <b>{% if annotation.active == 0 %}not {% endif %} active</b> {% include "includes/info_tooltip.html" with info="when active, an annotator can add data to the Lasair database" position="auto" link=docroot|add:"/core_functions/annotators.html" %}.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
