{% load static %}

<div class="card border-0 shadow h-100">
    <div class="card-body">

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-tertiary" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="number of objects detected in watchmap">{{count}}</span>

        <div class="row d-flex   justify-content-start">

            <div class="col-12 mb-3 d-flex align-items-center   justify-content-start">

                <div class="icon-shape icon-shape-tertiary rounded me-2">
                    {% include "includes/icons/icon_annotator.html" %}
                </div>



                <div class="h2 fw-extrabold mb-0 ms-2 d-none d-sm-inline">'{{ annotator.topic }}' Annotator{% if annotator.public %}
                    <span class="icon icon-md mx-2 text-gray-400 " data-bs-toggle="tooltip" data-bs-title="public list">
                        {% include "includes/icons/icon_padlock_open.html" %}
                    </span>

                {% else %}
                    <span class="icon icon-md mx-2 text-gray-400" data-bs-toggle="tooltip" data-bs-title="private list">
                        {% include "includes/icons/icon_padlock_closed.html" %}
                    </span>

                {% endif %}</div>
                <div class="h5 fw-extrabold mb-0 ms-2 d-sm-none">'{{ watchmap.name }}'{{ annotator.topic }}' Annotator{% if annotator.public %}
                    <span class="icon icon-md mx-2 text-gray-400 " data-bs-toggle="tooltip" data-bs-title="public list">
                        {% include "includes/icons/icon_padlock_open.html" %}
                    </span>

                {% else %}
                    <span class="icon icon-md mx-2 text-gray-400" data-bs-toggle="tooltip" data-bs-title="private list">
                        {% include "includes/icons/icon_padlock_closed.html" %}
                    </span>

                {% endif %}</div>




            </div>


            <div class="col-12 px-4">
                <small class="text-gray-500">
                    {{annotator.description|safe}}
                </small>
                <small class="text-gray-500">
                    The annotator is <b>{% if annotation.active == 0 %}not {% endif %} active</b> {% include "includes/info_tooltip.html" with info="when active, an annotator can add data to the Lasair database" position="auto" link=docroot|add:"/core_functions/annotators.html" %}.
                </small>
            </div>




        </div>
    </div>
</div>
