{% load humanize %}

{%if type == "my" and myAnnotators|length > 0 or type == "public"  %}

    <div class="card border-0 shadow h-100">



        <div class="card-header align-items-start mb-0 pb-0 border-0 row d-flex">
            <div class="col-12 col-sm-11 mb-3 d-flex align-items-center">


                {% if type == "my" and user.is_authenticated %}
                    <img class="avatar rounded" style="width:3.8rem;height:3.8rem; "  alt="Image placeholder" src="data:image/png;base64,{{ request.user.profile.image_b64 }}">

                {% else %}

                    <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                        {% include "includes/icons/icon_public_gallery.html" %}
                    </div>
                {% endif %}
                <div>
                    <h3 class="fw-extrabold ms-3 mb-0">{% if type == "my" %}
                        My Annotators
                    {% else %}
                        Public Gallery
                    {% endif %} </h3>



                </div>
            </div>
            <div class="col-12 px-4">
                <small class="text-gray-500">
                    {% if type == "my" %}
                        Your saved annotators.
                    {% else %}
                        Annotators submitted to the public gallery by the Lasair Team or other Lasair users.
                    {% endif %}
                </small>
            </div>
        </div>


        <div class="card-body p-2 pt-4">
            <div class="table-responsive p-4 pt-0">
                <table  class="table table-flush datatable" id="{{type}}_datatable">
                    <thead class="thead-light">
                        {% if type == "my" %}
                            <tr>
                                <th>Topic</th>
                                <th>Description</th>
                                <th>Count</th>
                            </tr></thead>
                            <tbody>
                                {% for annotator in myAnnotators %}
                                    <tr><td>

                                        {% if annotator.public %}
                                            <div class="icon-shape me-0 me-sm-0 text-gray-400" data-bs-toggle="tooltip" data-bs-title="public list">
                                                {% include "includes/icons/icon_padlock_open.html" %}
                                            </div>

                                        {% else %}
                                            <div class="icon-shape me-0 me-sm-0 text-gray-400" data-bs-toggle="tooltip" data-bs-title="private list">

                                                {% include "includes/icons/icon_padlock_closed.html" %}
                                            </div>

                                        {% endif %}


                                        <b><a href="{% url 'annotator_detail' annotator.topic %}">{{ annotator.topic }}</a></b></td>
                                        <td  style="white-space: normal;">{% if annotator.description|length > 60 %}
                                            {{ annotator.description|safe|slice:"0:60" }} ...

                                            <a href="#" class="link-primary disable" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-html="true" data-bs-content="{{annotator.description|safe}}">more</a>

                                        {% else %} {{ annotator.description|safe|slice:"0:100" }}{% endif %} </td>
                                        <td>{{annotator.count|intcomma}}</td>
                                    </tr>
                                {% endfor %}
                        {% else %}
                            <tr>
                                <th>Topic</th>
                                <th>Owner</th>
                                <th>Description</th>
                                <th>Count</th>
                            </tr></thead>
                            <tbody>
                                {% for annotator in publicAnnotators %}
                                    <tr><td class="align-middle">


                                        <b><a href="{% url 'annotator_detail' annotator.topic %}">{{ annotator.topic }}</a></b></td>
                                        <td><img alt="Image placeholder" src="data:image/png;base64,{{ annotator.profile_image }}" class="mb-1 me-1 avatar rounded-circle"> {{ annotator.user }}</td>
                                        <td  style="white-space: normal;">{% if annotator.description|safe|length > 60 %}
                                            {{ annotator.description|safe|slice:"0:60" }} ...

                                            <a href="#" class="link-primary disable" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-html="true" data-bs-content="{{annotator.description|safe}}">more</a>

                                        {% else %} {{ annotator.description|safe|slice:"0:100" }}{% endif %} </td>
                                        <td>{{annotator.count|intcomma}}</td>
                                    </tr>
                                {% endfor %}
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endif %}

