
{% load humanize %}


<div class="card border-0 shadow h-100">



    <div class="card-header align-items-start mb-0 pb-0 border-0 row d-flex">
        <div class="col-12 col-sm-11 mb-3 d-flex align-items-center">


            {% if type == "my" and user.is_authenticated %}
                <img class="avatar rounded" style="width:3.8rem;height:3.8rem; "  alt="Image placeholder" src="data:image/png;base64,{{ request.user.profile.image_b64 }}">

            {% else %}

                <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                    {% include "includes/icons/icon_public_gallery.html" %}
                </div>
            {% endif %}
            <div>
                <h3 class="fw-extrabold ms-3 mb-0">{% if type == "my" %}
                    My Watchlists
                {% else %}
                    Public Gallery
                {% endif %} </h3>



            </div>
        </div>
        <div class="col-12 px-4">
            <small class="text-gray-500">
                {% if type == "my" %}
                    Your saved watchlists.
                {% else %}
                    Watchlists submitted to the public gallery by other Lasair users. You can view matches or copy individual watchlists into your own collection.
                {% endif %}
            </small>
        </div>
    </div>



    <div class="card-body p-2 pt-4">
        <div class="table-responsive p-4 pt-0">
            <table  class="table table-flush datatable" id="{{type}}_datatable">
                <thead class="thead-light">
                    {% if type == "my" %}
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Count</th>
                            <th>Created</th>
                        </tr></thead>
                        <tbody>
                            {% for wl in myWatchlists %}
                                <tr><td>

                                    {% if wl.public %}
                                        <div class="icon-shape me-0 me-sm-0 text-gray-400" data-bs-toggle="tooltip" data-bs-title="public list">

                                            {% include "includes/icons/icon_padlock_open.html" %}




                                        </div>

                                    {% else %}
                                        <div class="icon-shape me-0 me-sm-0 text-gray-400" data-bs-toggle="tooltip" data-bs-title="private list">

                                            {% include "includes/icons/icon_padlock_closed.html" %}
                                        </div>

                                    {% endif %}


                                    <b><a href="{% url 'watchlist_detail' wl.wl_id %}">{{ wl.name }}</a></b></td>
                                    <td  style="white-space: normal;">{% if wl.description|length > 60 %}
                                        {{ wl.description|slice:"0:60" }} ...

                                        <a tabindex="0"  class="link-primary disable" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="{{wl.description}}">more</a>

                                    {% else %} {{ wl.description|slice:"0:100" }}{% endif %} </td>
                                    <td>{{wl.count|intcomma}}</td>
                                    <td data-type="date" data-format="YYYY-MMM-DD hh:mm:ss">{{wl.date_created|date:"Y-m-d"}} {{wl.date_created|time:"H:i:s"}}</td>
                                </tr>
                            {% endfor %}
                    {% else %}
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Description</th>
                            <th>Count</th>
                            <th>Created</th>
                        </tr></thead>
                        <tbody>
                            {% for wl in publicWatchlists %}
                                <tr><td class="align-middle">


                                    <b><a href="{% url 'watchlist_detail' wl.wl_id %}">{{ wl.name }}</a></b></td>
                                    <td><img alt="Image placeholder" src="data:image/png;base64,{{ wl.profile_image }}" class="mb-1 me-1 avatar rounded-circle"> {{ wl.user }}</td>
                                    <td  style="white-space: normal;">{% if wl.description|length > 60 %}
                                        {{ wl.description|slice:"0:60" }} ...

                                        <a tabindex="0"  class="link-primary disable" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="{{wl.description}}">more</a>

                                    {% else %} {{ wl.description|slice:"0:100" }}{% endif %} </td>
                                    <td>{{wl.count|intcomma}}</td>
                                    <td data-type="date" data-format="YYYY-MMM-DD hh:mm:ss">{{wl.date_created|date:"Y-m-d"}} {{wl.date_created|time:"H:i:s"}}</td>
                                </tr>
                            {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>

