{% load static %}


<div class="card border-0 shadow h-100">



    <div class="card-body">

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-tertiary" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="number of objects detected since filter creation (capped at 10000)">{{count}}</span>

        <div class="row d-block d-xl-flex">

            <div class="col-1 text-xl-center mb-3 mb-xl-0 d-flex justify-content-xl-start">
                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                    {% include "includes/icons/icon_watchmap.html" %}
                </div>
            </div>

            <div class="col-7  px-xl-1">

                <div class="d-flex ms-2">
                    <div class="flex-grow-1">



                        <div class="d-flex align-items-start">
                            {% if watchmap.public %}
                                <span class="icon icon-md me-0 me-sm-0 text-gray-400 " data-bs-toggle="tooltip" data-bs-title="public list">
                                    {% include "includes/icons/icon_padlock_open.html" %}
                                </span>

                            {% else %}
                                <span class="icon icon-md me-0 me-sm-0 text-gray-400" data-bs-toggle="tooltip" data-bs-title="private list">
                                    {% include "includes/icons/icon_padlock_closed.html" %}
                                </span>

                            {% endif %}

                            <div class="h3 fw-extrabold mb-0 ms-2">'{{ watchmap.name }}' Watched watchmap Associations</div>
                        </div>
                        <div>
                            <small class="text-gray-500">
                                {{watchmap.description}}
                            </small>
                        </div>
                        <small class="text-gray-500">
                            The watchmap is <b>{% if not watchmap.active %}not {% endif %} active</b> {% include "includes/info_tooltip.html" with info="when active, a watchmap will be dynamically matched against new transient alerts. See the watchmap settings to make changes." position="auto" %}.
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-4  px-xl-1">

                <div class="d-flex ms-2">

                    <div class=" ms-auto ps-1">
                        {# <div class="btn-group" role="group" aria-label="Basic button group"> #}
                        {% if user.is_authenticated and watchmap.user.id == user.id %}
                            <span data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="edit the watchmap settings">
                                <a class="btn btn-sm btn-gray-600 me-1 align-middle " href='#' data-bs-toggle="modal" data-bs-target="#editWatchmapForm">
                                    {% include "includes/icons/icon_edit.html" %}
                                    <span class="align-middle">Settings</span></a>
                            </span>
                        {% endif %}


                        {# </div> #}
                    </div>

                    <div class="dropdown ps-1">
                        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            export<svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                            <li><a class="dropdown-item export" data-table="filter-results" href="#" data-type="csv" data-filename="{{watchmap.name}}_watchmap_results">csv</a></li>
                            <li><a class="dropdown-item export" data-table="filter-results" href="#" data-type="json" data-filename="{{watchmap.name}}_watchmap_results">json</a></li>
                            <li><a class="dropdown-item export" href="{% url 'watchmap_download' watchmap.ar_id %}">Original MOC file</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <img src="data:image/png;base64,{{ watchmap.mocimage }}" class="w-50 img-fluid thumbnail " style="clip-path: inset(10px 10px 10px 10px);" alt="watchmap image"
            >
        </div>

    </div>
</div>


{% include "includes/widgets/widget_watchmap_update_form.html" %}

