{% load static %}


<div class="card border-0 shadow h-100">



    <div class="card-body">

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-tertiary" data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="number of objects detected since filter creation (capped at 10000)">
            {% if nalert >= 10000 %}
                {{ nalert }}+
            {% else %}
                {{ nalert }}
            {% endif %}</span>

        <div class="row d-block d-xl-flex">

            <div class="col-1 text-xl-center mb-3 mb-xl-0 d-flex justify-content-xl-start">
                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">



                    {% include "includes/icons/icon_filter_query.html" %}

                </div>
            </div>

            <div class="col-11  px-xl-1">

                <div class="d-flex ms-2">
                    <div class="flex-grow-1">
                        {% if "/filter/log/" not in request.path %}
                            <h2 class="h3 fw-extrabold mb-0">'{{ title }}' filter results </h2>
                            <small class="text-gray-500">
                                A list of objects passing the <em>{{ title }}</em> filter (capped at 5000 detections)
                            </small>
                        {% else %}
                            <h2 class="h3 fw-extrabold mb-0">'{{ title }}' filter history </h2>
                            <small class="text-gray-500">
                                A log of objects passing the <em>{{ title }}</em> filter since its creation
                            </small>
                        {% endif %}
                    </div>

                    <div>
                        {# <div class="btn-group" role="group" aria-label="Basic button group"> #}

                        <a class="btn btn-sm btn-tertiary me-1" href='{% url "filter_query_detail" mq_id %}' data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="run the filter to give live results">
                            {% include "includes/icons/icon_run.html" %}<span class="align-middle">Run Filter</span></a>

                        {% if "filter/log/" not in request.path %}
                            <a class="btn btn-sm btn-gray-600 me-1 align-middle" href='{% url "filter_log" topic %}' data-bs-toggle="tooltip" data-bs-placement="auto" data-bs-title="listing all transients passing filter since its creation"><?xml version="1.0" encoding="UTF-8"?>

                                {% include "includes/icons/icon_history.html" %}
                                <span class="align-middle">History</span></a>
                        {% else %}

                        {% endif %}


                        {# </div> #}
                    </div>

                    <div class="dropdown ms-auto ps-1">
                        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            export<svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                            <li><a class="dropdown-item export" data-table="filter-results" href="#" data-type="csv" data-filename="{{topic}}">csv</a></li>
                            <li><a class="dropdown-item export" data-table="filter-results" href="#" data-type="json" data-filename="{{topic}}">json</a></li>
                        </ul>
                    </div>
                </div>

                {% if message %}
                    <div class="accordion accordion-flush" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header " id="headinOne">
                                <button class="h6 accordion-button collapsed fw-extrabold text-gray-400 m-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headinOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body p-0 ">
                                    <p><pre><code class="language-sql">{{message}}</code></pre></p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}



            </div>
        </div>
    </div>
</div>
