{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}


{% block title %}
    {{data.objectId}}
{% endblock title %}


{% block content %}



    <div class="container">

        <div class="row mt-4">

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_filter_query_create_header.html" %}
            </div>

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_filter_creation_form.html" %}
            </div>

            <div class="col-12 mb-4">

                {% include "includes/widgets/widget_objectlist_table.html" with zerotext="Zero objects have been matched against this filter so far. Check back later to see if any new objects have been matched, or amend the filtering criteria to catch more objects." table=table header="Filter Results"  desc="Here are the filtered objects, limited to "|add:limit|add:" objects" %}
            </div>

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_schema_table.html"  %}
            </div>

        </div>
    </div>
    <hr/>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>

        // example of Tribute in autocomplete mode

        var tables = [];
        var tableColumns = [];
        {% for schema_name, schema_content in schemas.items %}
            tables.push({ key : "{{schema_name}}", value: "{{schema_name}}"})
            var theseColumns = {
                trigger: "{{schema_name}}".concat("."),
                values: [],
                noMatchTemplate: "",
                spaceSelectsMatch: false,
                selectTemplate: function(item) {
                    if (typeof item === "undefined") return null;
                    if (this.range.isContentEditable(this.current.element)) {
                        return (
                            '<span contenteditable="false"><a>' +
                            item.original.key +
                            "</a></span>"
                        );
                    }

                    return item.original.value;
                },
                menuItemTemplate: function(item) {
                    return item.string;
                }
            }

            {% for row in schema_content %}
                theseColumns.values.push({ key : "{{schema_name}}.{{row.name}}", value: "{{schema_name}}.{{row.name}}"})
            {% endfor %}
            tableColumns.push(theseColumns)
        {% endfor %}

        var tableNames = {
            autocompleteMode: true, // DON'T REQUIRE A TRIGGER
            noMatchTemplate: "",
            spaceSelectsMatch: false,
            values: tables,
            selectTemplate: function(item) {
                if (typeof item === "undefined") return null;
                if (this.range.isContentEditable(this.current.element)) {
                    return (
                        '<span contenteditable="false"><a>' +
                        item.original.key +
                        "</a></span>"
                    );
                }

                return item.original.value;
            },
            menuItemTemplate: function(item) {
                return item.string;
            }
        };

        var tableNames2 = {
            trigger: "objects.",
            noMatchTemplate: "",
            spaceSelectsMatch: false,
            values: tables,
            selectTemplate: function(item) {
                if (typeof item === "undefined") return null;
                if (this.range.isContentEditable(this.current.element)) {
                    return (
                        '<span contenteditable="false"><a>' +
                        item.original.key +
                        "</a></span>"
                    );
                }

                return item.original.value;
            },
            menuItemTemplate: function(item) {
                return item.string;
            }
        };


        var tributeAutocompleteTestArea = new Tribute({
            autocompleteMode: true,
            noMatchTemplate: "",
            collection: [tableNames]
        });
        tributeAutocompleteTestArea.attach(
            document.querySelector("textarea#id_selected")

        );

        var tributeAutocompleteTestArea2 = new Tribute({
            noMatchTemplate: "",
            collection: tableColumns
        });
        tributeAutocompleteTestArea2.attach(
            document.querySelector("textarea#id_selected")

        );



        if (tributeAutocompleteTestArea.isActive) {
            console.log('Somebody is being mentioned!');
        } else {
            console.log("Who's this guy talking to?");
        }

        document.querySelector(".prism-live").addEventListener('keydown', function(e) {
            if (e.key == 'Tab') {
                e.preventDefault();
            }
        });

    </script>
{% endblock javascripts %}

