div.JS9Magnifier, div.ImExamPlugin {
    width: 100% !important;
    padding-bottom: 100%;
    height: 0px;
}

div.ImExamRadialProj {
    width: 100% !important;

    table {
        margin-right:20px;
    }
}

.drag-handle {
    display: none;
}

div.JS9Plugin {
    background: #E9E9E9;
    color: #657b83;
}

// YELLOW SUB- GO DEEPER
btn:not(.collapsed), a.btn:not(.collapsed) {  
    .godeeper {
        transform: rotate(180deg);
    }
}


.icon-shape svg {
    height: 2.7rem !important;
}

.icon-shape  {
    .image-xs {
        height: 2.0rem;
    }
}


td .icon-shape  {
    height: 1.3rem !important;
    width: 1.3rem !important;

    svg {
        height: 1.3rem !important;
        width: 1.3rem !important;
    }
}


@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px !important;
    }
}



.datatable thead th {
    text-transform: none !important;
}
