{% extends "layouts/base.html" %}
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% block title %}
    Annotator: {{annotator.topic}}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row mt-4">
      <div class="col-12 mb-4">
{% include "includes/widgets/widget_annotator_header.html" %}
      </div>

      <div class="col-12 mb-4">
{% include "includes/widgets/widget_objectlist_table.html" with zerotext="Zero objects have been annotated by this annotator so far." table=table header="Annotator Results"  desc="A list of objects annotated by '"|add:annotator.topic|add:"' annotator" %}
     </div>
   </div>
</div>
{% endblock %}
