{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

    {% block title %}
        Annotators
    {% endblock title %}


    <div class="container">

        <div class="row mt-4">
            <div class="col-12  mb-4">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <div class="row d-flex">


                            <div class="col-12 col-sm-11 mb-3 d-flex align-items-center">
                                <div class="icon-shape icon-shape-tertiary rounded me-sm-0">
                                    {% include "includes/icons/icon_annotator.html" %}
                                </div>
                                <h2 class="h1 fw-extrabold mb-0 d-inline ps-3">Annotators</h2>

                            </div>



                            <div class="col-12 px-4">
                                <small class="text-gray-500">
                                    Annotators are codes that run on the Lasair transient stream, compute some value added feature(s) for the transients and inject these values back into the stream for other users to use in their filters.
                                    Some annotators are written by the Lasair Team but others are submitted by a Lasair users. Please get in contact via <a href="https://community.lsst.org/c/support/support-lasair/55">Community</a> if you have an idea for an annotator.
                                </small>
                            </div>



                        </div>
                    </div>
                </div>

            </div>



            {% if user.is_authenticated %}
                <div class="col-12 mb-4">
                    {% include "includes/widgets/widget_annotator_table.html" with type="my" position="auto" %}
                </div>
            {% endif %}

            <div class="col-12 mb-4">
                {% include "includes/widgets/widget_annotator_table.html" with type="public" position="auto" %}
            </div>
        </div>

{% endblock %}
