{% load customtags %}
{% if objIds|length > 0 %}
    <div class="card border-0 shadow h-100">
        <div class="card-body">

            <div class="card-body p-2 pt-4">

                <div class="table-responsive p-4 pt-0">
                    <table  class="table table-flush datatable" id="filter-results">
                        <thead class="thead-light">
                            <tr>

                                {% for key in objIds.0.keys %}

                                    {% if key == "UTC" %}
                                        <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{schema|keyvalue:key}}" >Alert Time</th>
                                    {%else%}
                                        <th data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{schema|keyvalue:key}}" >{{key}}</th>
                                    {% endif %}

                                {% endfor %}

                            </tr></thead>
                        <tbody>
                            {% for object in objIds %}

                                <tr>
                                    {% for key in object.keys %}

                                        {% if key == "objectId" %}
                                            <td><a href='{% url "object_detail" object.objectId %}'>{{ object.objectId }}</a></td>

                                        {% elif key in 'decmean' %}
                                            <td>{{object|keyvalue:key|floatformat:6 }}</td>
                                        {% elif key in 'ramean' %}
                                            <td>{{object|keyvalue:key|floatformat:5 }}</td>
                                        {% elif 'mjd' in key %}
                                            <td>{{object|keyvalue:key|floatformat:4 }}</td>
                                        {% elif 'mag' in key %}
                                            <td>{{object|keyvalue:key|floatformat:3 }}</td>
                                        {% elif 'last detected' in key %}
                                            <td>{{object|keyvalue:key|floatformat:1 }}</td>
                                        {% elif key in 'UTC' %}
                                            <td data-type="date" data-format="YYYY-MMM-DD hh:mm:ss">{{object|keyvalue:key }} UTC</td>
                                        {%else%}
                                            <td>{{ object|keyvalue:key }}</td>
                                        {% endif %}

                                    {% endfor %}

                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
{% else %}
    {% include "includes/widget_inbox_zero_card.html" with info="Zero objects have been associated with this region watchlist so far" %}
{% endif %}
