<div class="card border-0 shadow h-100">

    <div class="card-header d-sm-flex flex-row align-items-start flex-0 mb-0 pb-0 border-0">
        <div class="d-block mb-sm-0">
            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">

                <svg class="w-6 h-6" style="height: 3rem;" fill="currentColor" stroke="currentColor" stroke-width="1"  viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">

                    <path d="m72.801 13.801h-45.602c-3.6016 0-6.5 2.8984-6.5 6.5v59.301c0 3.6016 2.8984 6.5 6.5 6.5h45.699c3.6016 0 6.5-2.8984 6.5-6.5v-59.301c-0.097657-3.5-3-6.5-6.5977-6.5zm3.5 65.898c0 1.8984-1.6016 3.5-3.5 3.5h-45.602c-1.8984 0-3.5-1.6016-3.5-3.5v-59.398c0-1.8984 1.6016-3.5 3.5-3.5h45.699c1.8984 0 3.5 1.6016 3.5 3.5v59.398zm-42.5-48.199h33.301v-3h-33.301zm0 10h33.301v-3h-33.301zm0 10h33.301v-3h-33.301zm0 20h21.301v-3h-21.301zm0-10h33.301v-3h-33.301z"/>
                </svg>
            </div>
        </div>
        <div class="d-flex ms-2">
            <h2 class="h5 text-gray-400 mb-0">ZTF Alert Packet Data{% include "includes/info_tooltip.html" with info="Each row contains data measured at the location of transient on a single ZTF exposure." position="auto" %}</h2>
        </div>

    </div>

    <div class="card-body p-2 pt-4">
        <div class="table-responsive p-4 pt-0">
            <table  class="table table-flush datatable">
                <thead class="thead-light">
                    <tr>
                        <th>MJD</th>
                        <th>UTC</th>
                        <th>Filter</th>
                        <th>magpsf</th>
                        <th>status</th>
                        <th>images</th>
                    </tr></thead>
                <tbody>
                    {% for cand in data.candidates %}

                        <tr>
                            <td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{{ cand.mjd|floatformat:3 }}{% if not cand.candid %}</font>{% endif %}</td>
                            <td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{{ cand.utc }}{% if not cand.candid %}</font>{% endif %}</td>
                            <td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{% if cand.fid == 1 %}g{% else %}r{% endif %}{% if not cand.candid %}</font>{% endif %}</td>
                            <td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{{ cand.magpsf|floatformat:3 }} {% if cand.candid %}&plusmn; {{ cand.sigmapsf|floatformat:3 }}{% endif %}{% if not cand.candid %}</font>{% endif %}</td>

                            <td> {% if cand.candid %}{{ cand.isdiffpos }}
                            {% else %}<font color="gray" size=-2>non-detection</font>
                            {% endif %}</td>

                            <td>{% if cand.candid > 0 %}
                                <a href=/fitsview/{{ cand.candid }}_cutoutScience/ target=_blank><small>target</small></a>
                                <a href=/fitsview/{{ cand.candid }}_cutoutTemplate/ target=_blank><small>ref</small></a>
                                <a href=/fitsview/{{ cand.candid }}_cutoutDifference/ target=_blank><small>diff</small></a>
                            {% endif %}</td>

                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
