

<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="row">
	    <!--        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0"> -->
            <!--<p class="mb-0 text-center text-lg-start">
                &copy; <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Themesberg</a>
                - Coded by <a href="https://appseed.us" target="_blank">AppSeed</a>.
            </p> -->
<div class="col"><a class="col" href=https://www.lsst.ac.uk/>
		<img class="align-middle" src="/lasair/static/img/lusc.png" width=120></a></div>

<div class="col"><a class="col" href=https://www.ed.ac.uk/>
		<img class="align-middle" src="/lasair/static/img/uoe.png" width=80></a></div>

<div class="col"><a class="col" href=https://www.qub.ac.uk/>
		<img class="align-middle" src="/lasair/static/img/qub.png" width=110></a></div>

<div class="col"><a class="col" href=https://www.ox.ac.uk/>
		<img class="align-middle" src="/lasair/static/img/oxford-logo.jpg" width=90></a></div>

<div class="col"><a class="col" href=http://www.ztf.caltech.edu/>
		<img class="align-middle" src="/lasair/static/img/ztf.png" width=90></a></div>
<div class="col"><a href=/privacy>Privacy statement</a></div>

	<!--        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start"> -->

            <!-- List -->
            <!--<ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                <li class="list-inline-item px-0 px-sm-2">
                    <a target="_blank" 
                       href="https://appseed.us/admin-dashboards/django-dashboard-volt">Django Volt Dashboard</a>
                </li>
            </ul> -->
    </div>
</footer>
