
<div class="theme-settings card bg-gray-800 pt-2 collapse " id="theme-settings">
    <div class="card-body bg-gray-800 text-white pt-4">

        Need Help?


        <small class="text-gray-400 mt-5">

            <p>Start with our <a href="{{docroot}}">documentation on readthedocs</a>, you might find the <a href="{{docroot}}/more_info/faqs.html">FAQ section</a> especially useful.</p>

            <p>If you still have questions, want to report a bug, or make a feature request, please reach out to us on the <a href="https://community.lsst.org/c/support/support-lasair/55">Lasair topic on the Rubin Community pages.</a></p>
        </small>

        <a href="{{docroot}}" class="btn btn-sm btn-secondary d-inline-flex align-items-center m-2  ms-0">
            <img src="{{ ASSETS_ROOT }}/img/icons/Read-the-docs.png" class="image-fluid image-xs me-1">
            readthedocs
        </a>

        <a href="https://community.lsst.org/c/support/support-lasair/55" class="btn btn-sm btn-primary d-inline-flex align-items-center m-2  ms-0">
            <img src="{{ ASSETS_ROOT }}/img/icons/vera_rubin_observatory_icon.png" class="image-fluid image-xs me-1">
            Lasair Community
        </a>




        <button type="button" class="btn-close theme-settings-close" aria-label="Close" data-bs-toggle="collapse"
            href="#theme-settings" role="button" aria-expanded="false" aria-controls="theme-settings"></button>

    </div>
</div>

<div class="card theme-settings bg-gray-800 theme-settings-expand" id="theme-settings-expand">
    <div class="card-body d-flex  justify-content-center bg-gray-800 text-white rounded-top ps-3 py-2">
        <span class="fw-bold d-inline-flex align-items-center h6">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">

                <path d="m83.602 16.398c-18.5-18.5-48.699-18.5-67.199 0s-18.5 48.699 0 67.199 48.699 18.5 67.199 0c18.5-18.496 18.5-48.699 0-67.199zm6.7969 47l-15.199-5.1016c1.8008-5.3984 1.8008-11.301 0-16.699l15.199-5.1016c2.8008 8.8047 2.8008 18.203 0 26.902zm-80.797-26.797l15.199 5.1016c-1.8008 5.3984-1.8008 11.301 0 16.699l-15.199 5.1016c-2.8008-8.8047-2.8008-18.203 0-26.902zm25.199 28.598c-8.3984-8.3984-8.3984-22.102 0-30.5 8.3984-8.3984 22.102-8.3984 30.5 0 8.3984 8.3984 8.3984 22.102 0 30.5-8.5 8.4023-22.102 8.4023-30.5 0zm28.598-55.598l-5.1016 15.199c-5.3984-1.8008-11.301-1.8008-16.699 0l-5.1016-15.199c8.8047-2.8008 18.203-2.8008 26.902 0zm-26.797 80.797l5.1016-15.199c5.3984 1.8008 11.301 1.8008 16.699 0l5.1016 15.199c-8.8047 2.8008-18.203 2.8008-26.902 0z"/>
            </svg>
            Help
        </span>
    </div>
</div>

<div  id="theme-settings-expand">
</div>
