<script src="{{ ASSETS_ROOT }}/js/vendor.js"></script>
<script src="{{ ASSETS_ROOT }}/js/main.js"></script>
<script type="text/javascript" src="https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js"></script>
<script type="text/javascript" src="{{ ASSETS_ROOT }}/js/lasair_js9prefs.js"></script>
<script type="text/javascript" src="{{ ASSETS_ROOT }}/vendor/js9/js9support.min.js"></script>
<script type="text/javascript" src="{{ ASSETS_ROOT }}/vendor/js9/js9.js"></script>
<script type="text/javascript" src="{{ ASSETS_ROOT }}/vendor/js9/js9plugins.js"></script>
<script src="{{ ASSETS_ROOT }}/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
