{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
<div class="col-sm">
	<hr/>
Click here for the 
<b><a href=/status>Ingestion status of Lasair</a></b>
<hr/>
<h4>Get help</h4>

<ul>
<li>Check the resources <a href=/learn>in the About Lasair page</a></li>
<!-- <li><a href="mailto:lasair-help@lists.roe.ac.uk?subject=Enquiry">Email Lasair-help</a> -->
<li> <a href=https://community.lsst.org/>Request help using the Community Forum</a><br/>
<i> (Sign up with the form or use your github credential. Choose "Support", then choose "Lasair")</i> </li>

<li>Or <a href=https://github.com/lsst-uk/lasair4/issues>File a github ticket</a></li>
	<!--<li><a href=/release>Release Notes</a>-->
</ul>
<hr/>
<a href=/contact>The Lasair team</a>


</div>
</div>
{% endblock %}
